.navbar{
    margin-top: 20px;
    text-align: center;
}
.navbar a{
    margin-right: 15px;
    font-size: larger;
    text-decoration: none;
    padding: 5px 10px;
    background: #1e000d;
    border-radius: 5px;
    color: #fff;
    transition: all linear .3s;
}
.navbar a:hover{
    background-color: darkcyan;
    color: #f7f70e;
}